body{
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 120px;

}
.resume-container {
display: flex;
background-color: white;
width: 80%;
margin: 0 auto;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0,0, 0.1);
}
.left-section{
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #f1b2b2;
}
.profile-picture{
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid  #7c7878;
    margin-bottom: 20px;
}
h1{
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;

}
h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #d4c5c6;
    margin-top: 5%;
    margin-bottom: 5%;
}
ul{
    list-style-type: fill round;
    padding: 22px;
    margin: 10px 0;
    color: rgb(49, 47, 47);
    
}
ul li{
    margin: 8px 0;

}
.right-section{
    padding: 20px;
    width: 65%;
    color: rgb(49, 47, 47);
    
}
button{
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(83, 83, 83);
    cursor: pointer;
    margin-top: 10px;
    padding: 12px;
    font-size: 18px;
    border: none;
    color: gray;
}
button:hover{
background-color: gray;
color: white;

}
